body{
background-color: #f0f2f5;
font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
font-size: 15px;
}

.fb{
    width: 20%;
    margin-left: 300px;
    margin-top: -15px;
    padding-top: 60px;
    padding-left: 15px;
}
.wlc{
    margin-left: 350px;
    margin-top: -20px;
}
.txtandlogo{

padding-top: 100px;
margin-right:-1000px;
padding-right: 400px;

}
.signinformcontainer{
   background-color: white;
   margin-left: 900px;
   padding-left: 15px;
   padding-top: 20px;
   width: 400px;
   padding-bottom: 20px;
   font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
   border-radius: 6px;
   margin-top: -250px;
   }
 input[type=text]{
    width: 90%;
    font-size:14px;
    height: 30px;
    border: 1px solid grey;
    font-weight: 400;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 9px;
    }
 input[type=text]:hover{
    opacity: 0.5;

 }

input[type=password]{
    width: 90%;
    height: 30px;
    font-size:14px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid grey;
    padding: 8px;
    margin-bottom: 9px;
    }

    input[type=password]:hover{
        opacity: 0.8
        
     }   
  
input[type=submit]{
    width: 95%;
    text-align:center;
    font-size:14px;
    font-weight: 650;
    height: 50px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    border-radius:6px;
    border: 1px solid grey;
    padding: 8px;
   padding-top: 9px;
    background-color: blue;
    color: white;
}
input[type=submit]:hover{
    opacity: 0.6
 }
 .fgttenpwd a{
    padding-left: 125px;
    color:blue ;
    text-decoration: none;
    }
.fgttenpwd a:hover{
    text-decoration: underline;
}
button{
    background-color: green;
    margin-left: 80px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 650;
    font-size: 14px;
    width: 55%;
    border-radius: 6px;
    border: 1px solid;
    color: white;
}
button:hover{
    opacity: 0.8;
}
.createpgecontainer a{
    margin-left: 950px;
    font-size: 12px;
    padding-top: 20px;
    height: 30px;
    color: black;
    text-decoration: none;
}
.createpgecontainer a:hover{
    text-decoration: underline;
}